*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  list-style: none;
}
input {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
header {
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
section {
  margin-top: 60px;
  margin-bottom: 20px;
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-banner {
  width: 100%;
  background-image: url("../img/src/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-logo {
  width: 100%;
  padding-top: 40px;
}
.title-logo img {
  margin: 0 auto;
}
.main-banner h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5.70937px;
  color: #ffffff;
  padding-top: 377px;
}
.main-banner h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding-top: 21px;
}
.main-banner h3 {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3.7px;
  color: #ffffff;
  margin-top: 221px;
  padding-bottom: 70px;
}
.container {
  margin: 0 auto;
  width: 960px;
  padding: 0 20px;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-desctop {
  display: flex;
  margin: 25px 0;
}
.nav-logo {
  margin: 25px 0;
}
.item-menu {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  padding-left: 50px;
}
.item-menu a {
  text-decoration: none;
  color: #48555b;
}
.item-menu a:hover {
  color: #00a4e5;
}
#check {
  display: none;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555b;
}
.section-title span {
  text-align: center;
  width: 50px;
  border: 2px solid #00a4e5;
  margin-top: 10px;
}
.section-info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.left {
  margin-right: 30px;
}
.left h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555b;
  margin-bottom: 30px;
}
#two {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}
.two-content {
  display: flex;
  justify-content: space-between;
}
.capabilities-title {
  display: flex;
  flex-direction: column;
}
.capabilities-title h1 {
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555b;
}
.capabilities-title span {
  text-align: left;
  border: 2px solid #00a4e5;
  width: 50px;
  margin-top: 10px;
}
.capabilities-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.capabilities-info h1 {
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555b;
  padding-left: 155px;
}
.capabilities-info a {
  background: #00a4e5;
  text-decoration: none;
  min-width: 160px;
}
.capabilities-info h3 {
  padding: 10px 30px;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: center;
}
.left h2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1875px;
  color: #48555b;
}
.right {
  display: flex;
  justify-content: space-between;
}
.right img {
  padding-left: 25px;
}
.item {
  position: relative;
}
.item h1 {
  position: absolute;
  top: 15px;
  left: 40px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
  user-select: none;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  max-width: 295px;
  padding: 40px 22px;
}
.card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555b;
  margin-bottom: 13px;
}
.card-subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}
.card img {
  margin-bottom: 25px;
}

.section-five {
  background-image: url("../img/src/bgbg-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-bottom: 230px;
  padding-top: 120px;
}
.section-five h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555b;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}
.section-five a {
  text-decoration: none;
  background-color: #00a4e5;
  padding: 10px 25px;
  color: white;
  margin: 35px auto;
  width: 160px;
  display: flex;
  justify-content: center;
}
.form {
  background: #171819;
  margin: 0;
  padding: 35px 0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #ffffff;
  margin-right: 70px;
}
#email {
  outline: none;
  margin: 0;
  padding: 10px 25px;
  border: none;
}
.form button {
  background-color: #00a4e5;
  padding: 10px 25px;
  color: white;
  border: none;
  margin: 0;
  width: 160px;
}

footer {
  background-color: #141a20;
  padding: 40px 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
.footer-nav {
  letter-spacing: 0.85px;
  color: #ffffff;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  letter-spacing: 0.846154px;
  color: #ffffff;
}
.footer-item {
  max-width: 250px;
  margin-bottom: 10px;
}
.footer-item a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  text-decoration: none;
  color: #ffffff;
}
.footer-item a:hover {
  color: #00a4e5;
}
.footer-mobile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.underline {
  padding: 5px 0;
  border-bottom: 2px solid rgb(81, 93, 117);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-mobile {
  display: none;
}
#footer-1,
#footer-2 {
  display: flex;
  flex-direction: column;
  display: none;
}
#false1,
#false2 {
  display: none;
}
#open1,
#open2 {
  display: none;
}
#open1:checked ~ #footer-1 {
  display: flex;
}
#open1:checked ~ label #true1 {
  display: none;
}
#open1:checked ~ label #false1 {
  display: flex;
}
#open2:checked ~ #footer-2 {
  display: flex;
}
#open2:checked ~ label #true2 {
  display: none;
}
#open2:checked ~ label #false2 {
  display: flex;
}
.footer-mobile-item li{
  letter-spacing: 0.85px;
  color: #ffffff;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
}
.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

@media screen and (max-width: 961px) {
  .container {
    width: 100%;
    padding: 0 10%;
  }
  .section-info {
    flex-direction: column;
    margin-top: 30px;
  }
  .left {
    margin: 0;
  }
  .left h1,
  .left h2 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .right {
    justify-content: center;
    margin-top: 15px;
  }
  .right img {
    padding: 0 20px;
  }
  .two-content {
    flex-direction: column;
  }
  .capabilities-title {
    align-items: center;
  }
  .capabilities-info h1 {
    padding: 0;
  }
  .capabilities-info {
    margin-top: 20px;
  }
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin: 20px;
  }
  .punkt-footer-menu {
    display: none;
  }
  .footer-mobile {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 788px) {
  .container {
    width: 100%;
    padding: 0 10%;
  }
  .menu-desctop {
    justify-content: space-between;
    width: 100%;
  }
  .item-menu {
    padding-left: 0;
  }
  header .nav {
    flex-direction: column;
  }
  .capabilities-info h1 {
    text-align: center;
  }
  .right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    margin: 20px;
  }
  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form label {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 595.98px) {
  .container {
    width: 100%;
    padding: 0 10%;
  }
  .capabilities-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .capabilities-info a {
    margin-top: 10px;
  }
  .capabilities-info h1 {
    text-align: center;
  }
  .punkt-footer-menu-2 {
    display: none;
  }
  .footer-row {
    display: flex;
  }
}
